section, article {
  padding: 1rem 1rem 0 1rem;
  border-radius: 0.25rem;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}

section {
  border-color: #eee;
}

article {
  margin-bottom: 1rem;
  border-color: #999;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}
