<!-- <div class="todo-list-item" *ngFor="let item of data">
  <h2 class="todo-list-item-header">{{ item.title }}</h2>
  <p>{{ item.content }}</p>
  <div class="todo-list-item-actions">
    <label>
      <input type="checkbox" (click)="onUpdate(item)" [checked]="item.completed" />
      <span>{{ item.completed ? 'uncheck to remove from completed' : 'check to complete' }}</span>
    </label>
    <a [routerLink]="['/task', item.id]">Edit</a>
    <button (click)="onDelete(item)">Delete</button>
  </div>
</div> -->

<section>
  <article *ngFor="let item of data">
    <h3>{{ item.title }}</h3>
    <p>{{ item.content }}</p>
  </article>
</section>
