$fontSans: Arial, sans-serif;
$fontMono: monospace;
$fontSize: 16px;

%d-block {
  display: block;
}

%d-inline-block {
  display: inline-block;
}

%font-default {
  font-family: $fontSans;
  font-size: $fontSize;
  line-height: 1.15;
}

%field {
    @extend %d-block, %font-default;
    width: 100%;
    padding: .5rem;
    border: 1px solid black;

    &:focus {
      outline: 0 none;
      box-shadow: 0 0 .5rem rgba(0,0,0,.5);
    }

    &.ng-dirty.ng-invalid {
      border-color: red;

      &:focus {
        box-shadow: 0 0 .5rem rgba(255,0,0,.5);
      }
    }
}

%button {
  @extend %d-inline-block, %font-default;
  padding: .25rem .5rem;
  background-image: none;
  background-color: lightgrey;
  border: 1px solid black;
  color: black;
  cursor: pointer;

  &:focus {
    outline: 0 none;
    box-shadow: 0 0 .5rem rgba(0,0,0,.5);
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

[disabled], :disabled {
  opacity: 0.6;
}

body {
  @extend %font-default;
  margin: 0;
}

.todo-navbar,
.todo-container {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.todo-navbar {
  padding-top: 2rem;
}

a {
  display: inline-block;
  margin-right: .5rem;
}

a,
a:focus,
a:active {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.todo-form-group {
  @extend %d-block;
  margin-bottom: 1rem;
}

label {
  cursor: pointer;
}

.todo-form-label {
  @extend %d-block;
  margin-bottom: .5rem;
}

button,
button.todo-form-control {
  @extend %button;
}

textarea.todo-form-control {
  @extend %field;
  min-height: 5rem;
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  @extend %d-inline-block;
  margin: 0;
  vertical-align: middle;
}

.todo-form-control {
  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    @extend %button;
  }

  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"] {
    @extend %field;
  }
}

p {
  margin-bottom: 1rem;
}

.todo-list-item {
  padding: 1rem 0;
  border-top: 1px solid black;

  .todo-list-item-header {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 1rem 0;
  }

  .todo-list-item-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}